@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    padding: 30px;
    border-radius: 10px;
}
section>img{
    width: 100%;
    height: 200px;
}

body{
    background-color: grey;
}

main{
    
    display: grid;
    grid-template-columns: 17% 17% 17% 19%;
    justify-content: center;
    grid-template-rows: 300px 70px 160px 300px;
    align-content: center;
    gap: 20px;
    
}

.c1{
    grid-row: span 2;
    background-color: hsl(31, 66%, 93%);
    border: 2px solid hsl(31, 100%, 71%);
   
   
}
.c1>h2{
    font-weight:bold;
    font-size: 30px;
}
.c1>h2>span{
    color: hsl(256, 67%, 59%);
}
.c1>img{
    
    width: 160px;
    height: 80px;
    margin-top: 30px;
    margin-right: 20px ;
    padding-left: 30px;
}




.c2{
    grid-column: span 2;
    background-color: hsl(256, 67%, 59%);
    color: white;
    

}
.c2>h1{
    font-weight:bold;
    font-size: 50px;
 text-align: center;
 text-transform: capitalize;


}
.c2>img{
    width:40%;
    height: 35px;
    display: grid;
    justify-content: center;
    align-content:end;
    margin-left: 140px;
    margin-top: 30px;
    
    
}
.c2>p{
    color: rgba(255, 255, 255, 0.776);
   font-weight: lighter;
    font-size: 20px;
 text-align: center;
 


}
.c2>h1>span{
    color: hsl(39, 100%, 71%);
}





.c3{
    grid-row: span 3;
    background-color: hsl(254, 88%, 90%) ;
    overflow: hidden;

}
.c3>h2{
    
    font-size: 30px;
 margin-bottom: 30px;



}

.c3>img{
    width:350px;
    height: 300px;
    display: grid;
   

}
.c3>p{
    height: 23vh;
    font-size: 19px;
display: grid;
padding-bottom:30%;

align-content: center;
}


    


.c4{
    grid-row: span 2 ;
    background-color: hsl(0, 0%, 100%) ;
  overflow: hidden;
}
.c4>img{
    width: 306px;
    height: 75px;
    display: grid;
   

}
.c4>h3{
       font-size: 30px;
 margin-bottom: 30px;


}


.c5{
    grid-row: span 2;
    padding: 0;
    margin: 0;
    background-color: hsl(39, 100%, 71%);
 overflow: hidden;
}
.c5>img{
    width: 230px;
    height: 170px;
    padding-left: 30px;
    padding-top: 10px;
    
   
    

}
.c5>h2{
    padding-left: 35px;
    padding-top: 10px;
    font-size: 30px;
}

  


    

.c6{
    grid-row: span 2;
    background-color:hsl(39, 100%, 71%);

}
.c6>img{

     width: 210px;
    height: 290px;
    
    padding-top: 30px;
    
    
   
}
.c6>h2{
    font-size: 40px;
}

.c7{
    background-color: white;

}
.c7>img{
    height: 150px;
    width: 220px;
 padding-top: 70px;
display: grid;
justify-content: start;
   align-content: start;
   
}
.c7>h1{
  
    font-size: 70px;
    padding-bottom: 40;
}
.c7>p{
    text-transform: lowercase;
    display: flex;
    justify-content: start;
    font-size: 20px;
}

.c8{
    grid-column: span 2;
    background-color: hsl(256, 67%, 59%);
    display: flex;

}
.c8>img{

    height: 230px;
    width: 220px;
display: grid;
justify-content: start;
   align-content: start;
   
}
.c8>h3{
    font-size: 40px;
    padding-top: 60px;
    padding-left: 10px;
    color:white;
}
footer{
    text-align: center;
}


